<section class="hero is-small is-dark">
  <div class="hero-body">
    <div class="container">
      <p class="subtitle">{{{pretitle}}}</p>
      <h1 class="title is-1">{{{title}}}</h1>
      <p class="subtitle">&nbsp;&nbsp; {{{subtitle}}}</p>
    </div>
  </div>
</section>
