<section class="hero is-medium {{#if dark}} is-light {{/if}}">
  <div class="hero-body">
    <div class="container {{#if centered}} has-text-centered {{/if}}">
      <div class="columns {{#if centered}} is-centered {{/if}}">
        {{> @partial-block }}
      </div>
    </div>
  </div>
</section>
