{{> components/header pretitle="Act VI" title="Conclusion" subtitle="The epic conclusion"}}

{{#> components/section centered=true }}
{{#> components/content title="Arrays or vectors, which should I use?" }}
<p class="block">
  So now we know how arrays and vectors work, when should one use one or the other?
</p>
<p class="block">
  In general if you can't chose between an array and a vector, go with a vector. They are a lot easier to work with as they provide a lot more flexibility at little to no performance hit over an array. There are use cases where an array is the best tool for the job such as situations where the array doesn't need to change after compile time but those use cases are few and far between.
</p>
<p class="block">
  TL;DR: You'll know when you need an array, otherwise just use a vector.
</p>
{{/components/content}}
{{/components/section}}
