<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arrays and Vectors</title>
    <link rel="stylesheet" href="styles.css">
    <script src="bundle.js"></script>
    <base target="_blank" rel="noopener noreferrer">
  </head>
  <body>
    <section class="hero is-large is-black">
      <div class="hero-body">
        <div class="container">
          <p class="subtitle">
            C++ presents:
          </p>
          <h1 class="title is-2">
            Arrays and Vectors
          </h1>
          <p class="subtitle">
            &nbsp;&nbsp; A tale of storing lots of data.
          </p>
        </div>
      </div>
    </section>

    {{> partials/arrays }}
    {{> partials/vectors }}
    {{> partials/for }}
    {{> partials/conclusion }}

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          &#169; Hayley Hughes 2020
        </p>
      </div>
    </footer>
  </body>
</html>
