@charset "utf-8";

$dark: #282c34;
$black: #21252b;
$pre-background: transparent;
$pre-code-font-size: 1.2rem;
$family-sans-serif: "Ubuntu";
$family-monospace: "Ubuntu Mono";

@import "~fontsource-ubuntu/index.css";
@import "~fontsource-ubuntu-mono/index.css";
@import "~bulma/bulma";
@import "~highlightjs/styles/atom-one-dark";
